
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  

    <main>
        <form class="product-form" action="/addProduct" method="POST">
            <div class="form-control">
                <label for="name">Title</label>
                <input type="text" name="name" id="name">
            </div>

            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
